<nav id="main-header">
  <a id="main-logo">
      <span class="logo-container">
          <span class="in">In</span>
          <span class="comfort">Comfort</span>
      </span>
  </a>
  <a id="rooms" (click)="moveToRooms()" style="color: rgb(245, 245, 7);">Rooms climat and illuminations</a>
  <a id="coffee" (click)="MoveToCoffeeAndTea()">Coffee Machine and Teapot</a>
  <a id="info" (click)="moveToInfo()">Your information</a>
  <a id="comfort-profile" (click)="moveToComfortProfile()">Comfort Profile</a>
  <a id="sign-out" (click)="signOut()">Sign out</a>
</nav>
<ul>
    <li *ngFor="let room of rooms;" class="{{room.id}}">
        <p id="room-name">{{room.name}}</p>
        <div id="left">
            <div id="temperature">
                <div id="temperature-icon"></div>
                <div><p id="temperature-text">Current temperature: {{room.currentTemperature}} °C</p></div>
            </div>
            <div id="air">
                <div id="air-icon"></div>
                <div><p id="air-text">Current air humidity: {{room.currentAirHumidity}}%</p></div>
            </div>
            <div id="temperature">
                <div id="light-icon"></div>
                <div><p *ngIf="room.currentIsLight; else off" id="temperature-text">Light is on</p></div>
                <ng-template #off><div><p id="temperature-text">Light is off</p></div></ng-template>
            </div>
            <div id="temperature">
                <div id="light-intencity-icon"></div>
                <div><p id="air-text">Light intensity: {{room.currentLightIntensity}}%</p></div>
            </div>
        </div>
        <div id="right">
            <div id="change-temperature" (click)="OpenTemperatureDialog(room.id)">Change something</div>
            <div id="change-light" (click)="OpenlightningDialog(room.id)">Change something</div>
        </div>
    </li>
</ul>
