<div class="container">
    <div class="left">
      <p id="main-logo">
        <span class="logo-container">
          <span class="in">In</span>
          <span class="comfort">Comfort</span>
        </span>
      </p>
      <p class="left-header">Thank you for choosing us. We will make you travels as comfortable as possible.</p>
    </div>
    <div class="right">
      <nav>
        <a id="sign-up" routerLink="/sign-in">SIGN IN</a>
        <a id="question">Already have an account?</a>
      </nav>
      <div class="content">
        <p class="main-header">Get started absolutely free.</p>
        <p class="sub-header">Free forever. No credit card needed.</p>
        <mat-form-field class="email">
          <input matInput id="email" [(ngModel)]="email" placeholder="Email address">
        </mat-form-field><br>
        <mat-form-field class="name">
            <input matInput id="name" [(ngModel)]="name" placeholder="Name">
          </mat-form-field><br>
        <mat-form-field class="password">
          <input matInput id="password" [(ngModel)]="password" placeholder="Password">
        </mat-form-field><br>
        <a id="sign-in" (click)="signUpHandler()">CONTINUE</a>
        <p class="agree">By clicking "Continue" I agree to InComfort's Terms of Service and Privacy Policy.</p>
      </div>
    </div>
  </div>
  