<p id="main-header">Seems that it's time for coffee.</p>
<p id="sub-header">Enter details below and click submit button.</p>
<mat-vertical-stepper [linear]="isLinear" style="margin-top: 10px;" #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Choose which type of coffee you want</ng-template>
      <mat-form-field class="light-intensity">
        <mat-select [(ngModel)]="this.coffeeTypeId" placeholder="Coffee type">
          <mat-option *ngFor="let coffeeType of coffeeTypes" [value]="coffeeType.id">
            {{coffeeType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Choose date</ng-template>
      <mat-form-field>
        <input matInput id="date" placeholder="Date Time:" [(ngModel)]="this.date"
          [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3">
          <owl-date-time [pickerMode]="'dialog'" #dt3></owl-date-time>
      </mat-form-field>
  </mat-step>         
  <mat-step>
      <ng-template matStepLabel>Select if it should be repeatable</ng-template>
      <mat-form-field class="how-often">
        <mat-select [(ngModel)]="this.howOftenId" placeholder="Repeat">
          <mat-option *ngFor="let howOften of howOftens" [value]="howOften.id">
            {{howOften.explanation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-step>
  <mat-step class="for-hide">
      <ng-template matStepLabel>Mattress type and water type</ng-template>
      <mat-form-field class="mattress-type">
          <mat-select placeholder="Mattress type">
              <mat-option *ngFor="let mattressType of mattressTypes" [value]="mattressType.id">
                {{mattressType.name}}
              </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field class="water-type">
          <mat-select placeholder="Water type">
              <mat-option *ngFor="let waterType of waterTypes" [value]="waterType.id">
                {{waterType.name}}
              </mat-option>
            </mat-select>
      </mat-form-field>
  </mat-step>
</mat-vertical-stepper>  
<div class="submit-container">
  <a id="submit" (click)="submitHandler()">SUBMIT</a> 
</div>