<nav id="main-header">
  <a id="main-logo">
      <span class="logo-container">
          <span class="in">In</span>
          <span class="comfort">Comfort</span>
      </span>
  </a>
  <a id="rooms" (click)="moveToRooms()">Rooms climat and illuminations</a>
  <a id="coffee" (click)="MoveToCoffeeAndTea()"> Coffee Machine and Teapot</a>
  <a id="info" (click)="moveToInfo()" style="color: rgb(245, 245, 7);">Your information</a>
  <a id="comfort-profile" (click)="moveToComfortProfile()">Comfort Profile</a> 
  <a id="instructions" (click)="moveToInstructions()">Instructions</a>
  <a id="sign-out" (click)="signOut()">Sign out</a>
</nav>
<div class="container">
    <div class="left">
      <p class="left-header">Personal information is also included in your comfort profile, so pay attention to this section, please. We just want to make your life more comfortable.</p>
    </div>
    <div class="right">
      <div class="content">
        <p class="main-header">You can find your information below.</p>
        <p class="sub-header">If you want to update something, just change values and click update.</p>
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Shoe size and clothing size</ng-template>
                <mat-form-field class="shoe-size">
                    <mat-select [(ngModel)]="this.currentShoeSize" placeholder="Shoe size" id="shoe-size-select">
                        <mat-option *ngFor="let number of numbers" [value]="number">
                          {{number}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="clothing-size">
                    <mat-select [(ngModel)]="this.currentClothingSize" placeholder="Clothing size">
                        <mat-option *ngFor="let number of numbers" [value]="number">
                          {{number}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Chair type and table type</ng-template>
                <mat-form-field class="chair-type">
                    <mat-select [(ngModel)]="this.currentChairType" placeholder="Chair type">
                        <mat-option *ngFor="let chairType of chairTypes" [value]="chairType.id">
                          {{chairType.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="table-type">
                    <mat-select [(ngModel)]="this.currentTableType" placeholder="Table type">
                        <mat-option *ngFor="let tableType of tableTypes" [value]="tableType.id">
                          {{tableType.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Coffee and tea preferences</ng-template>
                <mat-form-field class="coffee-pref">
                  <textarea matInput [(ngModel)]="this.currentCoffee" cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="2" placeholder="Your favourite kinds of coffee..."></textarea>
                </mat-form-field>
                <mat-form-field class="tea-pref">
                  <textarea matInput [(ngModel)]="this.currentTea" cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="2" placeholder="Your favourite kinds of tea..."></textarea>
                </mat-form-field>
            </mat-step>         
            <mat-step>
                <ng-template matStepLabel>Allergens and fruit preferences</ng-template>
                <mat-form-field class="allergens">
                  <textarea matInput [(ngModel)]="this.currentAllergens" cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="2" placeholder="Allergens..."></textarea>
                </mat-form-field>
                <mat-form-field class="fruits">
                  <textarea matInput [(ngModel)]="this.currentFruits" cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="2" placeholder="Your favourite fruits..."></textarea>
                </mat-form-field>    
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Musical preferences</ng-template>
                <mat-form-field class="musical-pref">
                    <mat-select [(value)]="this.currentMusic" placeholder="Favourite music genres" multiple>
                        <mat-option *ngFor="let music of musicGenres" [value]="music">
                          {{music}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Mattress type and water type</ng-template>
                <mat-form-field class="mattress-type">
                    <mat-select [(ngModel)]="this.currentMattress" placeholder="Mattress type">
                        <mat-option *ngFor="let mattressType of mattressTypes" [value]="mattressType.id">
                          {{mattressType.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="water-type">
                    <mat-select [(ngModel)]="this.currentWater" placeholder="Water type">
                        <mat-option *ngFor="let waterType of waterTypes" [value]="waterType.id">
                          {{waterType.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </mat-step>
            <mat-step class="for-hide">
                <ng-template matStepLabel>Mattress type and water type</ng-template>
                <mat-form-field class="mattress-type">
                    <mat-select placeholder="Mattress type">
                        <mat-option *ngFor="let mattressType of mattressTypes" [value]="mattressType.id">
                          {{mattressType.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="water-type">
                    <mat-select placeholder="Water type">
                        <mat-option *ngFor="let waterType of waterTypes" [value]="waterType.id">
                          {{waterType.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </mat-step>
          </mat-vertical-stepper>   
          <p id="continue" (click)="onUpdate()">UPDATE</p>   
      </div>
    </div>
  </div>