<div class="container">
  <div class="left">
    <p id="main-logo">
      <span class="logo-container">
        <span class="in">In</span>
        <span class="comfort">Comfort</span>
      </span>
    </p>
    <p class="left-header">YOU CAN TRAVEL COMFORTABLE WITH OUR HELP</p>
  </div>
  <div class="right">
    <nav>
      <a id="sign-up" routerLink="/sign-up">GET STARTED</a>
      <a id="question">Don't have an account?</a>
    </nav>
    <div class="content">
      <p class="main-header">Sign in to InComfort.</p>
      <p class="sub-header">Enter your details below.</p>
      <mat-form-field class="email">
        <input matInput id="email" placeholder="Email address">
      </mat-form-field><br>
      <mat-form-field class="password">
        <input matInput id="password" placeholder="Password">
      </mat-form-field><br>
      <a id="sign-in">SIGN IN</a>
      <p class="agree">Thank you for being with us today! 
          Always great to have you here.</p>
    </div>
  </div>
</div>
