<nav id="main-header">
  <a id="main-logo">
      <span class="logo-container">
          <span class="in">In</span>
          <span class="comfort">Comfort</span>
      </span>
  </a>
  <a id="rooms" (click)="moveToRooms()">Rooms climat and illuminations</a>
  <a id="coffee" (click)="MoveToCoffeeAndTea()">Coffee Machine and Teapot</a>
  <a id="info" (click)="moveToInfo()">Your information</a>
  <a id="comfort-profile" (click)="moveToComfortProfile()">Comfort Profile</a> 
  <a id="instructions" (click)="moveToInstructions()" style="color: rgb(245, 245, 7);">Instructions</a>
  <a id="sign-out" (click)="signOut()">Sign out</a>
</nav>