<img id="main-picture" src="assets/main.jpg">
<nav id="main-header">
    <a id="main-logo">
        <span class="logo-container">
            <span class="in">In</span>
            <span class="comfort">Comfort</span>
        </span>
    </a>
    <a id="about">About us</a>
    <a id="features">Features</a>
    <a id="places">Places</a>
    <a id="mobile">Mobile App</a>
    <a id="sign-up" routerLink="/sign-up">Sign Up Free</a>
    <a id="sign-in" routerLink="/sign-in">Sign in</a>
</nav>

<div>
    <p id="main-title">MAKE YOURSELF AT HOME. ANYTIME. ANYWHERE.</p>
    <p id="sub-title">Share your Comfort Profile easily with our help.</p>

    <p class="get-started-container">
        <a id="get-started" routerLink="/sign-up">GET STARTED - FREE FOREVER</a>
    </p>
</div>
