<p><button (click)="getStaticInfoTest()">GetStaticInfo</button></p>
<p><button (click)="addStaticInfoTest()">AddStaticInfo</button></p>
<p><button (click)="updateStaticInfoTest()">UpdateStaticInfo</button></p>
<p><button (click)="registerUser()">RegisterUser</button></p>
<p><button (click)="loginUser()">LoginUser</button></p>
<p><button (click)="getChairTypesTest()">GetChairTypes</button></p>
<p><button (click)="getTableTypesTest()">GetTableTypes</button></p>
<p><button (click)="getWaterTypesTest()">GetWaterTypes</button></p>
<p><button (click)="getMattressTypesTest()">GetMattressTypes</button></p>
<p><button (click)="getCoffeeTypesTest()">GetCoffeeTypes</button></p>
<p><button (click)="getHowOftenTest()">GetHowOftens</button></p>
<p><button (click)="addCoffeDeviceTest()">AddCoffeDevice</button></p>
<p><button (click)="getCoffeDeviceStateTest()">GetCoffeDeviceState</button></p>
<p><button (click)="makeCupOfCoffeeIfNeededTest()">MakeCupOfCoffeeIfNeeded</button></p>
<p><button (click)="makeCupOfCoffeeTest()">MakeCupOfCoffee</button></p>


