<div class="container">
  <div class="left">
    <p id="main-logo">
      <span class="logo-container">
        <span class="in">In</span>
        <span class="comfort">Comfort</span>
      </span>
    </p>
    <p class="left-header">Thank you for choosing us. We will make you travels as comfortable as possible.</p>
  </div>
  <div class="right">
    <div class="content">
      <p class="main-header">Tell us about yourself</p>
      <p class="sub-header">Now that you're all signed up, let's personalize your preferences.</p>
        <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
              <ng-template matStepLabel>Shoe size and clothing size</ng-template>
              <mat-form-field class="shoe-size">
                  <mat-select placeholder="Shoe size">
                      <mat-option *ngFor="let number of numbers" [value]="this.number">
                        {{number}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <mat-form-field class="clothing-size">
                  <mat-select placeholder="Clothing size">
                      <mat-option *ngFor="let number of numbers" [value]="this.number">
                        {{number}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
              <ng-template matStepLabel>Chair type and table type</ng-template>
              <mat-form-field class="chair-type">
                  <mat-select placeholder="Chair type">
                      <mat-option *ngFor="let chairType of chairTypes" [value]="this.chairType.id">
                        {{chairType.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <mat-form-field class="table-type">
                  <mat-select placeholder="Table type">
                      <mat-option *ngFor="let tableType of tableTypes" [value]="this.tableType.id">
                        {{tableType.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
          </mat-step>
          <mat-step>
              <ng-template matStepLabel>Coffee and tea preferences</ng-template>
              <mat-form-field class="coffee-pref">
                <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="2" placeholder="Your favourite kinds of coffee..."></textarea>
              </mat-form-field>
              <mat-form-field class="tea-pref">
                <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="2" placeholder="Your favourite kinds of tea..."></textarea>
              </mat-form-field>
          </mat-step>         
          <mat-step>
              <ng-template matStepLabel>Allergens and fruit preferences</ng-template>
              <mat-form-field class="allergens">
                <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="2" placeholder="Allergens..."></textarea>
              </mat-form-field>
              <mat-form-field class="fruits">
                <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="2" placeholder="Your favourite fruits..."></textarea>
              </mat-form-field>    
          </mat-step>
          <mat-step>
              <ng-template matStepLabel>Musical preferences</ng-template>
              <mat-form-field class="musical-pref">
                  <mat-select placeholder="Favourite music genres" multiple>
                      <mat-option *ngFor="let music of musicGenres" [value]="this.music">
                        {{music}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
          </mat-step>
          <mat-step>
              <ng-template matStepLabel>Mattress type and water type</ng-template>
              <mat-form-field class="mattress-type">
                  <mat-select placeholder="Mattress type">
                      <mat-option *ngFor="let mattressType of mattressTypes" [value]="this.mattressType.id">
                        {{mattressType.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <mat-form-field class="water-type">
                  <mat-select placeholder="Water type">
                      <mat-option *ngFor="let waterType of waterTypes" [value]="this.waterType.id">
                        {{waterType.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
          </mat-step>
          <mat-step class="for-hide">
              <ng-template matStepLabel>Mattress type and water type</ng-template>
              <mat-form-field class="mattress-type">
                  <mat-select placeholder="Mattress type">
                      <mat-option *ngFor="let mattressType of mattressTypes" [value]="this.mattressType.id">
                        {{mattressType.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <mat-form-field class="water-type">
                  <mat-select placeholder="Water type">
                      <mat-option *ngFor="let waterType of waterTypes" [value]="this.waterType.id">
                        {{waterType.name}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
          </mat-step>
        </mat-vertical-stepper>   
        <p id="continue">CONTINUE</p>   
    </div>
  </div>
</div>

